<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="include/includebase"></head>
<body style="text-align: center;">
<div style="width: 200px;margin: auto;">
    <table style="font-size: 14px;min-height: 200px;font-weight:bold;">
        <tr style="height: 50px;">
            <td colspan="2">
                楼中楼订单明细
            </td>
        </tr>
        <tr style="height: 50px;">
            <td colspan="2">
                *********************
            </td>
        </tr>
        <tr style="height: 50px;" th:each="orderDetail : ${data}">
            <td th:text="${orderDetail.name}"></td>
            <td th:text="${orderDetail.num}"></td>
        </tr>
        <tr style="height: 50px;">
            <td colspan="2">
                *********************
            </td>
        </tr>
        <tr style="height: 50px;">
            <td>下单时间：</td>
            <td style="font-size: 8px;" th:text='${date}'></td>
        </tr>
        <tr style="height: 50px;">
            <td>下单人员：</td>
            <td colspan="2" th:text='${order.orderUser}'></td>
        </tr>
        <tr style="height: 50px;">
            <td>包间名字：</td>
            <td colspan="2" th:text='${order.privateRoom}'></td>
        </tr>
        <tr style="height: 50px;">
            <td>订单类型：</td>
            <td colspan="2" th:text='${type}'></td>
        </tr>
        <tr style="height: 50px;">
            <td colspan="2">
                *********************
            </td>
        </tr>
        <tr style="height: 50px;">
            <td colspan="2">
                *********************
            </td>
        </tr>
        <tr style="height: 50px;">
            <td colspan="2">
                *********************
            </td>
        </tr>
        <tr style="height: 50px;">
            <td colspan="2">
                *********************
            </td>
        </tr>
    </table>
</div>
<script th:inline="javascript">
    $(function () {
        window.print();
        window.print();
        window.print();
        window.close();
    });
</script>
</body>
</html>