<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>
<form id="mobileUserForm" role="form" method="post" action="mobileUser/update">
    <input type="hidden" name="id" id="id" th:value="${entity.id}"/>
    <div class="form-group">
        <label >手机:</label>
        <label style="color: red;"  th:text="${entity.phone}">手机:</label>
    </div>
    <div class="form-group">
        <label for="name">名字:</label>
        <input type="text" class="form-control" name="name" id="name" th:value="${entity.name}" placeholder="请输入名字"/>
    </div>
    <div class="form-group">
        <label for="pass">密码:</label>
        <input type="text" class="form-control" name="pass" id="pass" th:value="${entity.pass}" placeholder="请输入密码"/>
    </div>
    <div class="form-group">
        <label for="sex">性别:</label>
        <input type="text" class="form-control" name="sex" id="sex" th:value="${entity.sex}" placeholder="请输入性别"/>
    </div>
    <div class="form-group">
        <label for="age">年龄:</label>
        <input type="text" class="form-control" name="age" id="age" th:value="${entity.age}" placeholder="请输入年龄"/>
    </div>
</form>
<script th:inline="javascript">
    <![CDATA[
    $(function () {
        $('#mobileUserForm').bootstrapValidator({
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                name: {
                    message: '名字验证失败',
                    validators: {
                        notEmpty: {
                            message: '名字不能为空'
                        }
                    }
                },
                pass: {
                    message: '密码验证失败',
                    validators: {
                        notEmpty: {
                            message: '密码不能为空'
                        }
                    }
                },
                sex: {
                    message: '性别验证失败',
                    validators: {
                        notEmpty: {
                            message: '性别不能为空'
                        }
                    }
                },
                age: {
                    message: '年龄验证失败',
                    validators: {
                        notEmpty: {
                            message: '年龄不能为空'
                        }
                    }
                }
            }
        })
        $("#btnOk", window.top.document).click(function () {
            var bootstrapValidator = $("#mobileUserForm", window.top.document).data('bootstrapValidator');
            bootstrapValidator.validate();
            if (bootstrapValidator.isValid()) {
                $.post($("#mobileUserForm", window.top.document).attr('action'), $("#mobileUserForm", window.top.document).serialize(), function (e) {
                    if (e.result) {
                        $('.modal-dialog', window.top.document).parent('div').remove()
                        $('body', window.top.document).find('.modal-backdrop').remove();
                        $(window.parent.document).contents().find(".tab-pane.fade.active.in iframe")[0].contentWindow.doQuery();
                        window.Ewin.alert({message: '更新数据成功!'});
                    } else {
                        window.Ewin.alert({message: '更新数据失败!'});
                    }
                })
            }
        });
    })
    ]]>
</script>
</body>
</html>
